.contenedor{
    display: flex;
    flex-direction: row;
}

.boton{
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}
        
.header{
    padding: 1rem 3rem;
    text-align: center;
    font-size: 20px;    
}

.nav{
text-align: center;
align-items: center;
display: flex;
justify-content: center;
}

.aside{
    padding: 7rem 2rem;
    text-align: center;
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    float: left;    
}

.main{
    padding: 10px;
    width: 100vw;
    text-align: left;
    background-color: cornflowerblue;
    color: black;
    font-size: 30px;
    float: right;    
}

.footer{  
    text-align: center;
            
}