.contenedor{
    display: flex;
    flex-direction: row;
}

.boton{
    padding: 1rem 3rem;
    border-radius: 25px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}
        
.header{
    padding: 1rem 3rem;
    text-align: center;
    font-size: 20px;    
}

.nav{
text-align: center;
}

.aside{
    padding: 7rem 2rem;
    text-align: center;
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    float: left;    
}

.main{
    padding: 10px;
    width: 100vw;
    text-align: left;
    background-color: cornflowerblue;
    color: black;
    font-size: 30px;
    float: right;    
}

.footer{  
    text-align: center;
            
}