* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    color: #383838;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="genero"],
input[type="color"],
input[type="date"],


select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"],
.button1 {
    padding: 10px 20px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
.button1:hover {
    background-color: darkgray;
}

.button2{
    padding: 10px 20px;
    margin: auto;
     background-color: rgb(243, 220, 188);
    color: rgb(26, 26, 26);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.button2:hover {
    color: rgb(0, 0, 0);
    background-color: blanchedalmond;
}

footer {
    width: 100vw;
    height: 9vh;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    padding: auto;
    color: #000000;
    background-color: grey;
}
